.neshto{
    width: 95%;
    min-height: 300px;
    max-height: 400px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 80px;
    margin-left: 20px;
    justify-items: center;
    margin-bottom: 180px;
}
.bbb{
    width: 110%;
    min-height: 400px;
    max-height: 500px;
    object-fit:contain;
    margin-top: -30px;
}
.ggg{
    background-color: rgba(212, 212, 206, 0.9);
    margin-left: -160px;
    margin-top: 60px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold; 
}
.what{
display: block; 
margin-bottom: -10px;
font-family: fantasy;
font-size: 40px;   
}
.nn{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 80px;
    margin-top: 33px;
    height: 91%;
    justify-items: center;
}
.nnn{
    justify-items: center;
    background-color: rgba(216, 216, 216, 0.9);
    padding-left: 20px;
    align-items: center;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: bold; 
}
.whaT{
    font-family: fantasy;
    background-color: rgba(158, 157, 157, 0.9);
    font-size: 40px; 
    padding-left: 20px;
    height: 100%;  
    }