@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
* {
  font-family: 'Delius Swash Caps', cursive;
}


.neshto{
    width: 95%;
    min-height: 300px;
    max-height: 400px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 180px;
    margin-left: 20px;
    justify-items: center;
    margin-bottom: 180px;
}
.bbb{
    width: 110%;
    min-height: 400px;
    max-height: 500px;
    object-fit:contain;
    margin-top: 0px;
    margin-left: 40px;
}
.ggg{
    background-color:#ee4266;
    margin-left: -160px;
    margin-top: 60px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 40px;
    min-height: 450px;
    max-height: 600px;
    font-size: 20px;
    font-weight: bold; 
}
.what{
display: block; 
margin-bottom: 0px;
font-family: 'Delius Swash Caps';
font-size: 60px;
margin-bottom: 0px;
padding-bottom: 0px ;   
}
.nn{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Delius Swash Caps';
    font-size: 80px;
    height: 92%;
    justify-items: center;
    margin-top: 40px;
}
.nnn{
    justify-items: center;
    background-color: rgba(216, 216, 216, 0.9);
    padding-left: 20px;
    align-items: center;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: bold; 
}
.whaT{
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    background-color: rgba(158, 157, 157, 0.9);
    font-size: 40px; 
    padding-left: 20px;
    height: 100%; 
    }

.upper_buttons{
    text-align: center;
    font-weight: bold;
    color:#2e2f2f;
    margin-top: 25px;
    font-size: 25px;
    text-decoration: none;
    border: none;
    width: 140px;
    padding: 10px;
    background-color: #f2e0be;
    border-radius: 3px;
    transition: background-color 0.15s;
  }
  .upper_buttons:hover{
    background-color: #f0e9dc;
  }
  .upper_buttons:active{
    background-color: #f3e6cd;
  }
  .bottomm{
    margin-top: 300px;
    margin-left: -20px;
    width: 102%;
    height: 350px;
    background-color: #2e2f2f;
    color: white;
    font-weight: bold;
    display: grid;
    justify-items: center;
    margin-bottom: 0px;
}

