.options{
display: grid;
grid-template-rows: 30px 30px 30px 40px ;
background-color: #d7b89a;
width: 100%;
height:600px ;
margin-left: 10px;
margin-top: 20px;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 10px;
min-width: 400px;


}
.middle-sections {
    width: 140px;
    margin-top: 30px;
    display: grid;
    grid-template-rows: 20px 50px 20px 0px;
    align-items: center;
    margin-top: 0px;
    margin-bottom: -0px;
  }
  .search-bars {
    
    height: 50px;
    padding-left: 10px;
    font-size: 18px;
    border: none;
    width: 400px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  input[type=time]::-webkit-datetime-edit-ampm-field {
    display: none;
  }
  .BUTTON{
    background-color: #f2e0be;
    border: none;
    width: 190px;
    border-radius: 8px;
    height: 70px;
    font-size: 20px;
    font-family: monospace;
    font-size: 60px;

  }
  .BUTTON:hover{
    background-color: black;
    color: white;
  }
  .vsichko{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .bubble{
    position: relative;
    background-color: #3cbbb1;
    height: 1000px;
    width: 1200px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 38px;
    padding: 30px;
    font-family: monospace;
    font-size: 20px;
  }
  .bubble::after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent; 
    border-bottom: 20px solid transparent;
    border-left: 40px solid #3cbbb1;
    right: -40px; 
    top: 70%;
    transform: translateY(-50%); }
    
    .bubbles{
      position: relative;
    background-color: #3cbbb1;
      height: 500px;
      width: 700px;
      margin: 40px;
      border-radius: 38px;
    }
    .bubbles::after{
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 20px solid transparent; 
      border-bottom: 20px solid transparent;
       border-right: 40px solid #3cbbb1;
      left: -40px; 
      top: 70%;
      transform: translateY(-50%); }
      .image{
        height: 680px;
        width: 780px;
        margin-left: 50px;
        mix-blend-mode: none;
        margin-top: -300px;
      }
      .place{
        font-family: fantasy;
        font-size: 80px;
        margin-left: 80px;
        margin-top: 80px;
        margin-bottom: 0px;
        height: 200px;
        width: 600px;
      }

      #proc{
        margin-top: 40px;
      }